.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kakao_btn{
  background-image: url("kakao_login_medium_narrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 183px;
  height: 45px;
}

.kakao{
  margin-top: 10px;
  font-weight: bold;
  background-color: #fee500;
  border-radius: 5px;
  color: #191919;
  width: 183px;
  height: 45px;
}

.logout{
  font-size: 12pt;
}

.unlink{
  font-size: 9pt;
}

a{
  text-decoration: none;
}
